@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  width: 320px;
  min-height: 400px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, sans-serif;
}
